body {
    background-color: rgb(70, 204, 248);
    font: normal 15pt Arial;;
}

header {
    color: white;
    text-align: center;
}
section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301);
}

div {
    text-align: center;
    padding: 10px;
}

div#msg {
    color: blue;
}

img#foto {
    width: 80%;
}

input#btn {
    border: 1.5px solid rgb(0, 0, 0);
    background-color: transparent;
    font-size: 1em;
    background-color: rgb(70, 204, 248);
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(144, 192, 238, 0.363);
    cursor: pointer;
}

input#btn:hover {
    box-shadow: 0px 0px 10px blue;
    transition: 1s;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

footer {
    color: white;
    font-size: 0.9em;
    text-decoration: none;
}

a {
    color: white;
    font-size: 0.9em;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    transition: 1s;
    text-shadow: 0px 0px 15px white;
}